@mixin linear-gradient($deg, $color-1, $color-2){
    background-image: linear-gradient($deg, $color-1, $color-2);
}

@mixin box-shadow($shadow-color){
    box-shadow : 0 4px 8px 0 $shadow-color, 0 -1px 4px 0 $shadow-color;
}

@mixin space($padding){
    padding-left: $padding;
    padding-right: $padding;
}

@mixin typo-base(){
    font-size: 1rem;
    font-weight: 400;
}

@mixin typo-title(){
    font-size: 1.125rem;
    font-weight: 700;
}

@mixin typo-title-big(){
    font-size: 1.5rem;
    font-weight: 700;
}
