//Color
$color-primary: hsla(267deg, 66%, 60%, 1); //#9356DC
$color-secondary: hsla(317deg, 100%, 74%, 1); // #FF79DA
$color-tertiary: hsla(165deg, 56%, 75%, 1);  // #99E2D0

$hue: 0deg;
$saturation: 0%;
$lightness: 20%;
$color-base: hsl($hue, $saturation, $lightness); // #353535
$color-shadow: hsla($hue, $saturation, $lightness, $alpha: 0.2);
$color-shadow-dark: hsla($hue, $saturation, $lightness, $alpha: 0.5);

 // Mouvements de bars 
$num-bars: 10;

// FONTAWESOME chemin xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
$fa-font-path: "./files";
