.foncts{
    display:flex;
    flex-flow: column wrap;
    padding-top: 42px;
    padding-bottom: 48px;
    @include space($padding:20px);
    &__title{
        flex: 1 0 100%;
        margin-bottom: 20px;
        @include typo-title-big;
    }
    &__card{
        flex: 0 1 100%;
        margin-top:0.94em;
        margin-bottom: 0.94em;
        margin-left:12px;
    }
}
.fonct{
    &__link{
        text-decoration:none;
        color:lighten($color-base, 50%);
        display:block;
        padding-top: 28px;
        padding-bottom: 24px;
        background-color: change-color($color-base, $lightness: 96%);
        border-radius: 20px;
        position: relative;
        z-index:1;
        @include box-shadow($color-shadow);
        &:hover{
            transform: scale(0.98);
            color:$color-primary;
            &::after{
                opacity: 1;
            }
        }
         &::after{
            content:"";
            border-radius: 20px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            @include box-shadow($color-shadow-dark);
            background-color: lighten($color-primary, 35%);
            opacity: 0;
            z-index: -1;
            transform:scale(1);
            transition: scale 450ms, opacity 300ms ease-in-out 150ms;
        }
    }
    &__number{
        position: absolute;
        color: change-color($color-base, $lightness: 100%);
        background-color:$color-primary;
        width: 24px;
        height: 24px;
        line-height: 24px;
        text-align:center;
        font-weight: 700;
        border-radius: 24px;
        display: inline;
        vertical-align: middle;
        left:0;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    &__icon{
        display: inline;
        margin-left: 39px;
    }
    &__title{
        color:$color-base;
        display: inline;
        font-weight: 700;
        margin-left: 27px;
    }
}

@media screen and (min-width: 425px) and (max-width: 768px){
    .foncts {
        @include space($padding:40px);
    }
}
@media screen and (min-width: 768px) and (max-width:980px){
    .foncts {
        @include space($padding:80px);
    }
}
@media screen and (min-width: 980px) and (max-width: 1200px){
    .foncts {
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        @include space($padding:120px);
        &__title{
            flex: 1 0 100%;
        }
        &__card{
            flex:0 0 46%;
        }
    }
}
@media screen and (min-width: 1200px){
    .foncts {
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        @include space($padding:120px);
        &__title{
            flex: 1 0 100%;
        }
        &__card{
            flex:0 0 30%;
        }
}
}
