// Footer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
.footer{
    background-color: $color-base;
    padding-top: 25px;
    padding-bottom: 25px;
    @include space($padding: 25px);
    position: relative;
    &__logo{
        fill: change-color($color-base, $lightness: 100%);
        width:6em;
        height:auto;
        margin-bottom: 15px;
    }
    &__item{
       @include typo-base;
       margin-bottom: 7px;
    }
    &__link{
        display: inline-block;
        text-decoration: none;
        position: relative;
        cursor:pointer;
        color: change-color($color-base, $lightness: 100%);
        vertical-align: middle;
        transform: scale(1);
        transition: transform 450ms, color 450ms linear;

        &--icon{
            position: absolute;
        }
        &--text{
            margin-left: 30px;
        }
        &:link{
            color: change-color($color-base, $lightness: 100%);
        }
        &:visited{
            color:change-color($color-base, $lightness: 100%);
        }
        &:hover{
            color:$color-primary;
        }
        &:active{
            transform: scale(1.04);
            color: lighten($color-primary, 10%);
        }
    }
}

@media screen and (min-width: 425px) and (max-width: 768px){
    .footer {
        @include space($padding:50px);
    }
}

@media screen and (min-width: 768px) and (max-width:980px){
    .footer{
        @include space($padding:90px);
    }
}
@media screen and (min-width: 980px){
    .footer{
        @include space($padding: 140px);
    }
}
