.hero{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    position: relative;
    overflow: hidden;
    height: 260px;
    &__media{
        position: relative;
        object-fit: cover;
        object-position: center;
        &--img{
            width: 100%;
            height: auto;
            max-width: none;
        }
    }
    &__title{
        background-color: change-color($color-base, $lightness: 96%);
        border-radius: 40px 40px 0 0;
        font-family:"Shrikhand";
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 0.05em;
        padding-left: 20px;
        padding-right: 36px;
        padding-top: 35px;
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    &__icon{
    float: right;
    display: block;
    color: $color-base;
    font-size:25px;
    position: relative;
    &:hover{
        &::after{
            transform:scale(1.1);
            opacity:1;
        }
    }
    &::after{
        content:"\f004";
        font-weight:900;
        cursor: pointer;
        color:transparent;
        position: absolute;
        left:0;
        top:0;
        //background-clip:text;
        -webkit-background-clip: text;
        @include linear-gradient(120deg, $color-secondary, $color-primary);
        opacity:0;
        transform-origin:center;
        transform: scale(1);
        transition: transform 450ms, opacity 350ms ease-in-out 100ms;
            }
    }
}

    @media screen and (min-width: 543px) and (max-width:768px){
        .hero {
            height: 360px;
            &__title{
                left:50%;
                transform: translateX(-50%);
                width:80%;
            }
        }
    }
    @media screen and (min-width: 768px){
        .hero {
            height: 500px;
            &__title{
                left:50%;
                transform: translateX(-50%);
                width:60%;
            }
        }
    }


    // Heros Page index xxxxxxxxxxxxxxxxxxxxxmo
    .heros{
        text-align:center;
        background-color: change-color($color-base, $lightness: 96%);
        padding-top:40px;
        padding-bottom:74px;
        &__title{
            margin-bottom: 12px;
            @include typo-title-big;
        }
        &__subtitle{
            font-size:18px;
            font-weight: 400;
            margin-bottom: 53px;
        }
        &__btn{
            &--gradient a{
                text-decoration: none;
                display:inline-block;
                font-size:16px;
                font-weight: 700;
                padding: 15px 25px;
                color: change-color($color-base, $lightness: 100%);
                border-radius: 50px;
                @include linear-gradient(170deg, $color-secondary, $color-primary);
                @include box-shadow($color-shadow);
                position: relative;
                z-index: 1;
                &:hover{
                    &::after {
                        opacity:1;
                    }
                }
                &::after{
                    content:"";
                    position: absolute;
                    border-radius: 50px;
                    top:0;
                    bottom: 0;
                    right:0;
                    left:0;
                    color: change-color($color-base, $lightness: 100%);
                    @include linear-gradient(170deg, lighten($color-secondary, 8%), lighten($color-primary, 8%));
                    @include box-shadow($color-shadow-dark);
                    z-index: -1;
                    opacity: 0;
                    transition: opacity 350ms ease-out 100ms;
                }
            }
        }
    }
