.loader{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width: 100vw;
    position: absolute;
    @include linear-gradient(120deg, $color-secondary, $color-primary);
    opacity: 0;
    animation-fill-mode:both;
    animation-duration: 15000ms;
    animation-name: fond;
    z-index: 10;
    &__principal{
        display:block;
        position:relative;
        width: 250px;
        height: 250px;
        max-height:100%;
        border: 4px solid transparent;
        border-top-color: $color-primary;
        border-left:dotted $color-primary;
        border-radius: 50%;
        animation-fill-mode:forwards;
        animation-iteration-count: 3;
        animation-duration: 5000ms;
        animation-timing-function: linear;
        animation-name: spin;
        &::before{
            content:"";
            position: absolute;
            top:4%;
            bottom:4%;
            right:4%;
            left:4%;
            border:5px solid transparent;
            border-top-color: $color-primary;
            border-right: dotted $color-primary;
            border-radius:50%;
            animation-fill-mode:forwards;
            animation-iteration-count: 3;
            animation-delay: 3000ms;
            animation-timing-function: linear;
            animation-duration: 4000ms;
            animation-name: spin;
        }
        &::after{
            content:"";
            position: absolute;
            top:13%;
            bottom:13%;
            right:13%;
            left:13%;
            border: 6px solid transparent;
            border-top-color: $color-primary;
            border-left: dotted $color-primary;
            border-radius:50%;
            animation-fill-mode:forwards;
            animation-delay: 1500ms;
            animation-duration:4500ms;
            animation-iteration-count: 3;
            animation-timing-function: linear;
            animation-name: spin;
        }
    }
        &__clock{
            opacity:0.2;
            animation-fill-mode: forwards;
            animation-delay: 3000ms;
            animation-duration: 2000ms;
            animation-iteration-count: 6;
            animation-timing-function: linear;
            animation-name: heart;
            border-radius: 42px;
            background-color: $color-primary;
            height: 42px;
            width: 42px;
            position: absolute;
            left: 35%;
            left: calc(50% - 21px);
            &::after{
                content: "";
                position: absolute;
                background-color: $color-secondary;
                top:2px;
                left: 40%;
                height: 18px;
                width: 6px;
                border-radius: 7px;
                transform-origin: 50% 90%;
                animation: grdAiguille 2.6s linear infinite;
            }
            &::before{
                content: "";
                position: absolute;
                background-color:$color-secondary;
                top:3px;
                left: 40%;
                height: 17px;
                width: 6px;
                border-radius:7px;
                transform-origin: 50% 86%;
                animation: ptAiguille 15.6s linear infinite;
            }
        }
}

@keyframes grdAiguille{
	0%{
        transform:rotate(0deg);
    }
	100%{
        transform:rotate(360deg);
    }
}

@keyframes ptAiguille{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}

@keyframes spin{
    0%{
        transform:rotate(0deg);
    }
    20%{
        transform:rotate(-180deg);
        opacity:0.8;
    }
    50%{
        transform:rotate(90deg);
        opacity:1;
    }
    70%{
        transform:rotate(360deg);
    }
    100%{
        transform:rotate(0deg);
        opacity:0.8;
    }
}

@keyframes heart{
    0%{
        transform:scale(1);
        opacity: 0.4;
    }
    10%{
        opacity: 0.6;
    }
    20%{
        transform:scale(1.3);
        opacity:1;
    }
    90%{
        opacity:1;
    }
    100%{
        transform:scale(1);
        opacity:0.4;
    }
}

@keyframes fond{
    0%{
        opacity:1;
    }
    60%{
        opacity:1;
    }
    99%{
        z-index:10;
    }
    100%{
        opacity:0;
        z-index:-10;
    }
}
