.menus{
    background-color: change-color($color-base, $lightness: 96%);

}
.menu {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    padding-top: 30px;
    &__title{
        text-transform: uppercase;
        margin-left: 20px;
        margin-right: 20px;
        position: relative;
        margin-bottom: 15px;
        &::after{
            content:"";
            position:absolute;
            width:2.5rem;
            border: 0.0625rem solid $color-tertiary;
            top: 1.5em;
            left: 0;
        }
    }
    &__assiette{
        margin: 7px 12px;
        //animation 1
        opacity: 0;
        transform: translateY(0);
        animation-duration: 4000ms;
        animation-fill-mode: both;
        animation-direction: alternate;
        animation-name: vagues;
        @for $i from 1 through $num-bars {
            &--#{$i} {
                animation-delay: 400ms * $i;
            }
        }
     }
}

.assiette{
    flex:0 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items:center;
    background-color: change-color($color-base, $lightness: 100%);
    @include box-shadow($color-shadow);
    border-radius: 15px;
    padding: 17px 24px 17px 12px;
    position: relative;
    cursor:pointer;
    overflow: hidden;
    &:hover{
        & > .assiette__title{
            width:65%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        & > .assiette__text {
            width:65%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        & > .assiette__price{
            transform:translateX(-54px);
        }
        & > .assiette__anim{
            transform: scaleX(1);
            span{
                transform: rotate(0turn);
                }
            }
    }
    &__title{
        flex: 0 0 auto;
        width:100%;
        order: 1;
        @include typo_title;
        line-height: 1.5;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        transform-origin:left;
        transition: width 300ms linear 150ms;
    }
    &__text{
        flex: 0 0 auto;
        order: 2;
        width: 80%;
        @include typo-base;
        line-height: 1.5;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        transition: width 300ms linear 150ms;
    }
    &__price{
        flex:0 0 auto;
        order: 3;
        font-weight: 700;
        font-size: 15px;
        line-height: 1.5;
        white-space: nowrap;
        transform-origin:right;
        transform: translateX(0);
        transition: transform 400ms cubic-bezier(.99,0,.38,.56) 50ms;
    }
    // animation 2
    &__anim {
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        background-color: $color-tertiary;
        position:absolute;
        right:0;
        top:0;
        width: 70px;
        height: 100%;
        border-radius: 0 15px 15px 0;
        overflow:hidden;
        margin-left:20px;
        transform-origin:right;
        transform: scaleX(0);
        transition: transform 450ms linear;
        span{
            color: change-color($color-base, $lightness: 100%);
            font-size:30px;
            position:absolute;
            transform: rotate(-1turn);
            transition: transform 450ms ease-in-out;
        }
    }
}
@keyframes vagues{
0%{
    opacity:0;
}
3%{
    opacity: 0.2;
}
20%{
    opacity:0.2;
    transform: translateY(1rem);
}
40%{
    opacity:0.4;
}
60%{
    opacity:0.6;
    transform: translateY(-0.2rem);
    animation-timing-function: cubic-bezier(.43,.37,.09,1);
}
100%{
    transform: translateY(0rem);
    opacity: 1;
}
}


@media screen and (min-width: 543px) and (max-width:768px){
    .menu {
        width: 80%;
        margin-left:auto;
        margin-right:auto;
    }
}
@media screen and (min-width: 768px){
    .menu {
        width: 60%;
        margin-left:auto;
        margin-right:auto; 
    }
}

// section bouton commander
.commander{
    background-color: change-color($color-base, $lightness: 96%);
    padding-top: 70px;
    padding-bottom: 85px;
    &__btn{
        text-align:center;
        &--gradient a{
        display: inline-block;
        font-size: 16px;
        padding:15px 50px;
        color: change-color($color-base, $lightness: 100%);
        border-radius: 50px;
        text-decoration: none;
        font-weight: 700;
        @include linear-gradient(170deg, $color-secondary, $color-primary);
        @include box-shadow($color-shadow);
        position: relative;
        z-index: 1;
        &:hover{
            &::after {
                opacity:1;
            }
        }
        &::after{
            content:"";
            position: absolute;
            border-radius: 50px;
            top:0;
            bottom: 0;
            right:0;
            left:0;
            z-index: -1;
            @include linear-gradient(170deg, lighten($color-secondary, 8%), lighten($color-primary, 8%));
            @include box-shadow($color-shadow-dark);
            opacity: 0;
            transition: opacity 450ms ease-in;
        }
    }
}
}
