// NAVIGATION pour les pages Menu xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
.nav{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
    @include space($padding:15px);

    &__link{
        color:$color-base;
        transform: scale(1);
        transition: scale 450ms ease-out 50ms;
        &:hover{
            transform: scale(1.2);
        }
        &:active{
            transform: scale(1.4);
        }
    }
    &__logo{
        margin-left:auto;
        margin-right:auto;
        width: 10em;
        height: auto;
        fill: $color-base;
    }
}

// NAVBAR Page Accueil xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

.nav-ac{
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    &__logo{
        align-self: center;
        fill:$color-base;
        width: 10em;
        height: auto;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    &__search{
        flex: 0 0 100%;
        width:100%;
        padding-top: 18px;
        padding-bottom: 18px;
        background-color: change-color($color-base, $lightness: 92%);
        font-weight: 700;
        box-shadow: 0 3px 5px 0 $color-shadow inset;
        text-align: center;
    }
    &__icon{
        margin-right: 20px;
    }
}
