.restos{
    display: flex;
    flex-flow: column wrap;
    background-color: change-color($color-base, $lightness: 96%);
    @include space($padding:20px);
    padding-top: 68px;
    padding-bottom: 45px;
    &__title{
        @include typo-title-big;
    }

}
.resto{
    // $this: &;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    overflow: hidden;
    border-radius: 20px;
    @include box-shadow($color-shadow);
    margin-top: 20px;
    margin-bottom: 20px;
    transform: scale(1);
    transition: transform 450ms, box-shadow 300ms ease-out 150ms; 
    &__link{
        text-decoration: none;
        color: $color-base;
        background-color: change-color($color-base, $lightness: 100%);
    }
    &__media {
        height: 175px;
        overflow: hidden;
    }
    &__body{
        @include space($padding:20px);
        padding-top: 10px;
        padding-bottom: 15px;
        background-color: change-color($color-base, $lightness: 100%);
    }
    &:hover{
        @include box-shadow($color-shadow-dark);
        transform: scale(0.98);
    }

    &--nouveau{
        position: relative;
        &__tag{
            color: darken($color-tertiary, 40%);
            background-color:$color-tertiary;
            padding: 8px 14px;
            border-radius: 0.125rem;
            font-weight: 700;
            font-size: 14px;
            position: absolute;
            top: 1em;
            right: 1em;
            z-index:5;
        }
    }
}
.resto-media{
    position: relative;
    &__img{
        width: 100%;
        height: auto;
        max-width: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.resto-body{
    display:flex;
    flex-wrap: wrap;
    @include space($padding:20px);
    padding-top: 10px;
    padding-bottom: 15px;
    &__title{
        flex:1 0 85%;
        order: 1;
        display:block;
        @include typo-title();
    }
    &__text{
        order: 3;
        display:block;
        @include typo-base();
    }
    &__icon{
        order: 2;
        align-self: flex-end;
        font-size: 25px;
        display: block;
        position: relative;
        color: $color-base;
        &:hover{
            &::after{
                transform:scale(1.1);
                opacity:1;
            }
        }
        &::after{
            content:"\f004";
            font-weight:900;
            cursor: pointer;
            color:transparent;
            position:absolute;
            left:0;
            top:0;
            // background-clip: text;
            -webkit-background-clip: text;
            @include linear-gradient(120deg, $color-secondary, $color-primary);
            opacity:0;
            transform-origin: center;
            transform: scale(1);
            transition: transform 450ms, opacity 350ms ease-in-out 100ms;
        }
    }
}

@media screen and (min-width: 425px) and (max-width: 768px){
    .restos{
        @include space($padding:40px);
    }
}
@media screen and (min-width: 768px) and (max-width:980px){
    .restos {
        @include space($padding:80px);
        &__card{
            flex: 0 0 100%;
        }
    }
}
@media screen and (min-width: 980px) and (max-width:1024px){
    .restos {
        @include space($padding:120px);
    }
}

@media screen and (min-width: 1024px){
    .restos {
        flex-direction:row;
        justify-content: space-between;
        align-content:center;
        @include space($padding:120px);
        &__title{
            flex:1 0 100%;
        }
        &__card{
            flex: 0 0 48%;
        }
    }
}
