@charset "UTF-8";
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-size: 100%;
  font-weight: normal;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  height: auto;
  max-width: 100%;
}

/* roboto-latin-400-normal*/
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("./files/roboto-latin-400-normal.woff2") format("woff2"), url("./files/roboto-latin-400-normal.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-latin-700-normal*/
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("./files/roboto-latin-700-normal.woff2") format("woff2"), url("./files/roboto-latin-700-normal.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* shrikhand-latin-400-normal*/
@font-face {
  font-family: "Shrikhand";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local("Shrikhand Regular"), local("Shrikhand-Regular"), url("./files/shrikhand-latin-400-normal.woff2") format("woff2"), url("./files/shrikhand-latin-400-normal.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/*!
 * Font Awesome Free 5.15.1 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */

.fas,
.far {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

@keyframes fa-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
readers do not read off random characters that represent icons */

.fa-arrow-left:before {
  content: "";
}

.fa-check-circle:before {
  content: "";
}

.fa-hands-helping:before {
  content: "";
}

.fa-heart:before {
  content: "";
}

.fa-list:before {
  content: "";
}

.fa-map-marker-alt:before {
  content: "";
}

.fa-mobile-alt:before {
  content: "";
}

.fa-store:before {
  content: "";
}

.fa-utensils:before {
  content: "";
}

/*!
 * Font Awesome Free 5.15.1 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("./files/fa-regular-400.eot");
  src: url("./files/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("./files/fa-regular-400.woff2") format("woff2"), url("./files/fa-regular-400.woff") format("woff"), url("./files/fa-regular-400.ttf") format("truetype"), url("./files/fa-regular-400.svg#fontawesome") format("svg");
}
.far {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}

/*!
 * Font Awesome Free 5.15.1 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("./files/fa-solid-900.eot");
  src: url("./files/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("./files/fa-solid-900.woff2") format("woff2"), url("./files/fa-solid-900.woff") format("woff"), url("./files/fa-solid-900.ttf") format("truetype"), url("./files/fa-solid-900.svg#fontawesome") format("svg");
}

.fas {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 100%;
  font-size: 1rem;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  color: #333333;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-image: linear-gradient(120deg, #ff7ad9, #9256dc);
  opacity: 0;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 15000ms;
          animation-duration: 15000ms;
  -webkit-animation-name: fond;
          animation-name: fond;
  z-index: 10;
}
.loader__principal {
  display: block;
  position: relative;
  width: 250px;
  height: 250px;
  max-height: 100%;
  border: 4px solid transparent;
  border-top-color: #9256dc;
  border-left: dotted #9256dc;
  border-radius: 50%;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
  -webkit-animation-duration: 5000ms;
          animation-duration: 5000ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-name: spin;
          animation-name: spin;
}
.loader__principal::before {
  content: "";
  position: absolute;
  top: 4%;
  bottom: 4%;
  right: 4%;
  left: 4%;
  border: 5px solid transparent;
  border-top-color: #9256dc;
  border-right: dotted #9256dc;
  border-radius: 50%;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
  -webkit-animation-delay: 3000ms;
          animation-delay: 3000ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 4000ms;
          animation-duration: 4000ms;
  -webkit-animation-name: spin;
          animation-name: spin;
}
.loader__principal::after {
  content: "";
  position: absolute;
  top: 13%;
  bottom: 13%;
  right: 13%;
  left: 13%;
  border: 6px solid transparent;
  border-top-color: #9256dc;
  border-left: dotted #9256dc;
  border-radius: 50%;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
  -webkit-animation-duration: 4500ms;
          animation-duration: 4500ms;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-name: spin;
          animation-name: spin;
}
.loader__clock {
  opacity: 0.2;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3000ms;
          animation-delay: 3000ms;
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
  -webkit-animation-iteration-count: 6;
          animation-iteration-count: 6;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-name: heart;
          animation-name: heart;
  border-radius: 42px;
  background-color: #9256dc;
  height: 42px;
  width: 42px;
  position: absolute;
  left: 35%;
  left: calc(50% - 21px);
}
.loader__clock::after {
  content: "";
  position: absolute;
  background-color: #ff7ad9;
  top: 2px;
  left: 40%;
  height: 18px;
  width: 6px;
  border-radius: 7px;
  transform-origin: 50% 90%;
  -webkit-animation: grdAiguille 2.6s linear infinite;
          animation: grdAiguille 2.6s linear infinite;
}
.loader__clock::before {
  content: "";
  position: absolute;
  background-color: #ff7ad9;
  top: 3px;
  left: 40%;
  height: 17px;
  width: 6px;
  border-radius: 7px;
  transform-origin: 50% 86%;
  -webkit-animation: ptAiguille 15.6s linear infinite;
          animation: ptAiguille 15.6s linear infinite;
}

@keyframes grdAiguille {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes ptAiguille {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-180deg);
    opacity: 0.8;
  }
  50% {
    transform: rotate(90deg);
    opacity: 1;
  }
  70% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
    opacity: 0.8;
  }
}
@keyframes heart {
  0% {
    transform: scale(1);
    opacity: 0.4;
  }
  10% {
    opacity: 0.6;
  }
  20% {
    transform: scale(1.3);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.4;
  }
}
@keyframes fond {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  99% {
    z-index: 10;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
.nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.nav__link {
  color: #333333;
  transform: scale(1);
  transition: scale 450ms ease-out 50ms;
}
.nav__link:hover {
  transform: scale(1.2);
}
.nav__link:active {
  transform: scale(1.4);
}
.nav__logo {
  margin-left: auto;
  margin-right: auto;
  width: 10em;
  height: auto;
  fill: #333333;
}

.nav-ac {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.nav-ac__logo {
  align-self: center;
  fill: #333333;
  width: 10em;
  height: auto;
  padding-top: 20px;
  padding-bottom: 10px;
}
.nav-ac__search {
  flex: 0 0 100%;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: #ebebeb;
  font-weight: 700;
  box-shadow: 0 3px 5px 0 rgba(51, 51, 51, 0.2) inset;
  text-align: center;
}
.nav-ac__icon {
  margin-right: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  height: 260px;
}
.hero__media {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.hero__media--img {
  width: 100%;
  height: auto;
  max-width: none;
}
.hero__title {
  background-color: whitesmoke;
  border-radius: 40px 40px 0 0;
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: 0.05em;
  padding-left: 20px;
  padding-right: 36px;
  padding-top: 35px;
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.hero__icon {
  float: right;
  display: block;
  color: #333333;
  font-size: 1.563rem;
  position: relative;
}
.hero__icon:hover::after {
  transform: scale(1.1);
  opacity: 1;
}
.hero__icon::after {
  content: "";
  font-weight: 900;
  cursor: pointer;
  color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-background-clip: text;
  background-image: linear-gradient(120deg, #ff7ad9, #9256dc);
  opacity: 0;
  transform-origin: center;
  transform: scale(1);
  transition: transform 450ms, opacity 350ms ease-in-out 100ms;
}
.heros {
  text-align: center;
  background-color: whitesmoke;
  padding-top: 40px;
  padding-bottom: 74px;
}
.heros__title {
  margin-bottom: 12px;
  font-size: 1.5rem;
  font-weight: 700;
}
.heros__subtitle {
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 53px;
}
.heros__btn--gradient a {
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.938rem 1.563rem;
  color: white;
  border-radius: 50px;
  background-image: linear-gradient(170deg, #ff7ad9, #9256dc);
  box-shadow: 0 4px 8px 0 rgba(51, 51, 51, 0.2), 0 -1px 4px 0 rgba(51, 51, 51, 0.2);
  position: relative;
  z-index: 1;
}
.heros__btn--gradient a:hover::after {
  opacity: 1;
}
.heros__btn--gradient a::after {
  content: "";
  position: absolute;
  border-radius: 50px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: white;
  background-image: linear-gradient(170deg, #ffa3e5, #a878e3);
  box-shadow: 0 4px 8px 0 rgba(51, 51, 51, 0.5), 0 -1px 4px 0 rgba(51, 51, 51, 0.5);
  z-index: -1;
  opacity: 0;
  transition: opacity 350ms ease-out 100ms;
}

.foncts {
  display: flex;
  flex-flow: column wrap;
  padding-top: 42px;
  padding-bottom: 48px;
  padding-left: 20px;
  padding-right: 20px;
}
.foncts__title {
  flex: 1 0 100%;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 700;
}
.foncts__card {
  flex: 0 1 100%;
  margin-top: 0.94em;
  margin-bottom: 0.94em;
  margin-left: 12px;
}

.fonct__link {
  text-decoration: none;
  color: #b3b3b3;
  display: block;
  padding-top: 28px;
  padding-bottom: 24px;
  background-color: whitesmoke;
  border-radius: 20px;
  position: relative;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(51, 51, 51, 0.2), 0 -1px 4px 0 rgba(51, 51, 51, 0.2);
}
.fonct__link:hover {
  transform: scale(0.98);
  color: #9256dc;
}
.fonct__link:hover::after {
  opacity: 1;
}
.fonct__link::after {
  content: "";
  border-radius: 20px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 4px 8px 0 rgba(51, 51, 51, 0.5), 0 -1px 4px 0 rgba(51, 51, 51, 0.5);
  background-color: #f1eafb;
  opacity: 0;
  z-index: -1;
  transform: scale(1);
  transition: scale 450ms, opacity 300ms ease-in-out 150ms;
}
.fonct__number {
  position: absolute;
  color: white;
  background-color: #9256dc;
  width: 24px;
  height: 24px;
  line-height: 1.5rem;
  text-align: center;
  font-weight: 700;
  border-radius: 24px;
  display: inline;
  vertical-align: middle;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
.fonct__icon {
  display: inline;
  margin-left: 39px;
}
.fonct__title {
  color: #333333;
  display: inline;
  font-weight: 700;
  margin-left: 27px;
}
.restos {
  display: flex;
  flex-flow: column wrap;
  background-color: whitesmoke;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 68px;
  padding-bottom: 45px;
}
.restos__title {
  font-size: 1.5rem;
  font-weight: 700;
}

.resto {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(51, 51, 51, 0.2), 0 -1px 4px 0 rgba(51, 51, 51, 0.2);
  margin-top: 20px;
  margin-bottom: 20px;
  transform: scale(1);
  transition: transform 450ms, box-shadow 300ms ease-out 150ms;
}
.resto__link {
  text-decoration: none;
  color: #333333;
  background-color: white;
}
.resto__media {
  height: 175px;
  overflow: hidden;
}
.resto__body {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 15px;
  background-color: white;
}
.resto:hover {
  box-shadow: 0 4px 8px 0 rgba(51, 51, 51, 0.5), 0 -1px 4px 0 rgba(51, 51, 51, 0.5);
  transform: scale(0.98);
}
.resto--nouveau {
  position: relative;
}
.resto--nouveau__tag {
  color: #278b72;
  background-color: #9ce3d1;
  padding: 0.5rem 0.875rem;
  border-radius: 0.125rem;
  font-weight: 700;
  font-size: 0.875rem;
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 5;
}

.resto-media {
  position: relative;
}
.resto-media__img {
  width: 100%;
  height: auto;
  max-width: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.resto-body {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 15px;
}
.resto-body__title {
  flex: 1 0 85%;
  order: 1;
  display: block;
  font-size: 1.125rem;
  font-weight: 700;
}
.resto-body__text {
  order: 3;
  display: block;
  font-size: 1rem;
  font-weight: 400;
}
.resto-body__icon {
  order: 2;
  align-self: flex-end;
  font-size: 1.563rem;
  display: block;
  position: relative;
  color: #333333;
}
.resto-body__icon:hover::after {
  transform: scale(1.1);
  opacity: 1;
}
.resto-body__icon::after {
  content: "";
  font-weight: 900;
  cursor: pointer;
  color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-background-clip: text;
  background-image: linear-gradient(120deg, #ff7ad9, #9256dc);
  opacity: 0;
  transform-origin: center;
  transform: scale(1);
  transition: transform 450ms, opacity 350ms ease-in-out 100ms;
}
.menus {
  background-color: whitesmoke;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-top: 30px;
}
.menu__title {
  text-transform: uppercase;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  margin-bottom: 15px;
}
.menu__title::after {
  content: "";
  position: absolute;
  width: 2.5rem;
  border: 0.0625rem solid #9ce3d1;
  top: 1.5em;
  left: 0;
}
.menu__assiette {
  margin: 7px 12px;
  opacity: 0;
  transform: translateY(0);
  -webkit-animation-duration: 4000ms;
          animation-duration: 4000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-name: vagues;
          animation-name: vagues;
}
.menu__assiette--1 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.menu__assiette--2 {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}
.menu__assiette--3 {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}
.menu__assiette--4 {
  -webkit-animation-delay: 1600ms;
          animation-delay: 1600ms;
}
.menu__assiette--5 {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}
.menu__assiette--6 {
  -webkit-animation-delay: 2400ms;
          animation-delay: 2400ms;
}
.menu__assiette--7 {
  -webkit-animation-delay: 2800ms;
          animation-delay: 2800ms;
}
.menu__assiette--8 {
  -webkit-animation-delay: 3200ms;
          animation-delay: 3200ms;
}
.menu__assiette--9 {
  -webkit-animation-delay: 3600ms;
          animation-delay: 3600ms;
}
.menu__assiette--10 {
  -webkit-animation-delay: 4000ms;
          animation-delay: 4000ms;
}

.assiette {
  flex: 0 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(51, 51, 51, 0.2), 0 -1px 4px 0 rgba(51, 51, 51, 0.2);
  border-radius: 15px;
  padding: 1.063rem 1.5rem 1.063rem 0.75rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.assiette:hover > .assiette__title {
  width: 65%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.assiette:hover > .assiette__text {
  width: 65%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.assiette:hover > .assiette__price {
  transform: translateX(-54px);
}
.assiette:hover > .assiette__anim {
  transform: scaleX(1);
}
.assiette:hover > .assiette__anim span {
  transform: rotate(0turn);
}
.assiette__title {
  flex: 0 0 auto;
  width: 100%;
  order: 1;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transform-origin: left;
  transition: width 300ms linear 150ms;
}
.assiette__text {
  flex: 0 0 auto;
  order: 2;
  width: 80%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: width 300ms linear 150ms;
}
.assiette__price {
  flex: 0 0 auto;
  order: 3;
  font-weight: 700;
  font-size: 0.938rem;
  line-height: 1.5;
  white-space: nowrap;
  transform-origin: right;
  transform: translateX(0);
  transition: transform 400ms cubic-bezier(0.99, 0, 0.38, 0.56) 50ms;
}
.assiette__anim {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9ce3d1;
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  height: 100%;
  border-radius: 0 15px 15px 0;
  overflow: hidden;
  margin-left: 20px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 450ms linear;
}
.assiette__anim span {
  color: #fff;
  font-size: 1.875rem;
  position: absolute;
  transform: rotate(-1turn);
  transition: transform 450ms ease-in-out;
}

@keyframes vagues {
  0% {
    opacity: 0;
  }
  3% {
    opacity: 0.2;
  }
  20% {
    opacity: 0.2;
    transform: translateY(1rem);
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
    transform: translateY(-0.2rem);
    -webkit-animation-timing-function: cubic-bezier(0.43, 0.37, 0.09, 1);
            animation-timing-function: cubic-bezier(0.43, 0.37, 0.09, 1);
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}
.commander {
  background-color: whitesmoke;
  padding-top: 70px;
  padding-bottom: 85px;
}
.commander__btn {
  text-align: center;
}
.commander__btn--gradient a {
  display: inline-block;
  font-size: 1rem;
  padding: 0.938rem 3.125rem;
  color: white;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 700;
  background-image: linear-gradient(170deg, #ff7ad9, #9256dc);
  box-shadow: 0 4px 8px 0 rgba(51, 51, 51, 0.2), 0 -1px 4px 0 rgba(51, 51, 51, 0.2);
  position: relative;
  z-index: 1;
}
.commander__btn--gradient a:hover::after {
  opacity: 1;
}
.commander__btn--gradient a::after {
  content: "";
  position: absolute;
  border-radius: 50px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  background-image: linear-gradient(170deg, #ffa3e5, #a878e3);
  box-shadow: 0 4px 8px 0 rgba(51, 51, 51, 0.5), 0 -1px 4px 0 rgba(51, 51, 51, 0.5);
  opacity: 0;
  transition: opacity 450ms ease-in;
}

.footer {
  background-color: #333333;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
}
.footer__logo {
  fill: white;
  width: 6em;
  height: auto;
  margin-bottom: 15px;
}
.footer__item {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 7px;
}
.footer__link {
  display: inline-block;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  color: white;
  vertical-align: middle;
  transform: scale(1);
  transition: transform 450ms, color 450ms linear;
}
.footer__link--icon {
  position: absolute;
}
.footer__link--text {
  margin-left: 30px;
}
.footer__link:link {
  color: white;
}
.footer__link:visited {
  color: white;
}
.footer__link:hover {
  color: #9256dc;
}
.footer__link:active {
  transform: scale(1.04);
  color: #ad80e5;
}
@media screen and (min-width: 543px) and (max-width: 768px) {
  .hero {
    height: 360px;
  }
  .hero__title {
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
  }
  .menu {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    height: 500px;
  }
  .hero__title {
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
  }
  .menu {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 425px) and (max-width: 768px) {
  .foncts {
    padding-left: 40px;
    padding-right: 40px;
  }
  .restos {
    padding-left: 40px;
    padding-right: 40px;
  }
  .footer {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 980px) {
  .foncts {
    padding-left: 80px;
    padding-right: 80px;
  }
  .restos {
    padding-left: 80px;
    padding-right: 80px;
  }
  .restos__card {
    flex: 0 0 100%;
  }
  .footer {
    padding-left: 90px;
    padding-right: 90px;
  }
}
@media screen and (min-width: 980px) and (max-width: 1200px) {
  .foncts {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
  }
  .foncts__title {
    flex: 1 0 100%;
  }
  .foncts__card {
    flex: 0 0 46%;
  }
}
@media screen and (min-width: 1200px) {
  .foncts {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
  }
  .foncts__title {
    flex: 1 0 100%;
  }
  .foncts__card {
    flex: 0 0 30%;
  }
}
@media screen and (min-width: 980px) and (max-width: 1024px) {
  .restos {
    padding-left: 120px;
    padding-right: 120px;
  }
}
@media screen and (min-width: 1024px) {
  .restos {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding-left: 120px;
    padding-right: 120px;
  }
  .restos__title {
    flex: 1 0 100%;
  }
  .restos__card {
    flex: 0 0 48%;
  }
}
@media screen and (min-width: 980px) {
  .footer {
    padding-left: 140px;
    padding-right: 140px;
  }
}
/*# sourceMappingURL=style.css.map */